<p-menubar [model]="items">
</p-menubar>


<div >
  <div class="mt-6" style="text-align: center;">
    <h3>Cotizador</h3>
  </div>
  <hr>
  <div class="card flex justify-content-center" style="text-align: center;">
    <p-dropdown [options]="prices" 
                [(ngModel)]="priceSelected" 
                optionLabel="label" 
                [showClear]="true" 
                (onChange)="handleChange($event)" 
                placeholder="Seleccionar tamaño"
                [ngStyle]="{ 'width': '100%' }">
    </p-dropdown>
  </div>
  
  <div class="row" style="text-align: center;">
    <h5>Seleccionar fechas de estadia</h5>
    <div class="col">
      <h6 style="color: mediumseagreen;">Fecha de Ingreso</h6>
      <p-calendar [(ngModel)]="dateE"></p-calendar>
    </div>
    <div class="col">
      <h6 style="color: lightcoral;">Fecha de Salida</h6>
      <p-calendar [(ngModel)]="dateS"></p-calendar>
    </div>
  </div>
  
  <div class="card flex justify-content-center" style="text-align: center;margin-top: 20px;">
    <h4>Aplicar descuento</h4>
    <p-dropdown [options]="discount" 
                [(ngModel)]="discountSelected" 
                optionLabel="label" 
                [showClear]="true" 
                (onChange)="handleChangeD($event)" 
                placeholder="Seleccionar Descuento">
    </p-dropdown>
  </div>


  <div class="card flex justify-content-center" style="text-align: center;margin-top: 20px;width: 100%;">
    <h4>Costo adicional</h4>
    <p-dropdown [options]="aditionalTD" 
                [(ngModel)]="myaditional" 
                optionLabel="label" 
                [showClear]="true" 
                (onChange)="handleChangeA($event)" 
                placeholder="Costo adicional" 
                [ngStyle]="{ 'width': '100%' }">
    </p-dropdown>
  </div>
  
  <div class="row mt-3" style="text-align: center;margin-top: 20px;">
    <p-button label="Cotizar"  
              severity="success"
              (click)="showDialog()">
    </p-button>
  </div>
  
  
  <p-dialog header="Cotizacion de Estadia" [(visible)]="visible" [style]="{width: '50vw'}">
    <div class="row">
      <div class="col"><h4>Precio:</h4></div>
      <div class="col" style="text-align: end;">L.{{myprice}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col"><h4>Noches de estadia:</h4></div>
      <div class="col" style="text-align: end;">{{night}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col"><h4>Precio Total:</h4></div>
      <div class="col" style="text-align: end;">L{{total}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col"><h4>Precio Final</h4></div>
      <div class="col" style="text-align: end;">L{{ftotal}}</div>
    </div>
    <hr>
    
    <div class="row" style="text-align: center;">
      <p-button label="Cerrar" (click)="visible = false" severity="danger"></p-button>
    </div>
  
    
  </p-dialog>
</div>


